body{
    padding-top: 60px;
    margin: 5px;

}

#signupLoginTab {
	max-width: 440px;
	max-height: 600px;
	margin: auto;
	border: 1px solid green;
	border-radius: 7px;
}
.radioBtn {
	color: red;
	font-size: 16px;
}

#registerBtn , #loginBtn {
	height: 45px;
	width: 1000px;
	max-width: 100%;
	
}


h1, h2, h3 {
	font-weight: bold;
	color: red;
}

h4, .titleH5 {
	font-weight: bold;
}

.navLeft {
	border: 1px solid gray;
	border-left-width: 0px;
	border-bottom-width: 0px;
	
}

.navLeft hr  {
	
	border: 0.7px solid #5E0202;
}

.carousel-slide{
    max-height: 360px;
}

.navLeft h3 {
	margin-left: 20px;
	display: inline-block ;
}

.navLeft div.navbar-header {
	display: inline-block;
	float: right;
 
}


.selectCategoryMenu li a.cName {
	font-weight: bold;
	color: brown;
}

.selectCategory:hover {
	transition: linear all 0.4ms ;
	margin-left: 10px;
	background:rgba(233, 233, 233, 0.64);
	color: red;
}

.img-display {

	height: 250px;
	max-width: 600px;
	border-radius: 10px;
	width:100%;
}


.btnDetail {
	width: 1000px;
	max-width: 100%;
	
}

.textPreview {
	/*height: 50px;*/
	color: red;
        text-align: center;
	
}


.productPreviewDetail {
	border-radius: 10px;
	height: 350px;
	width: 400px;
	background-position: center center;
    background-size: cover;
}


.navbar-header {
	padding-left: 50px;
}

.imgZoom {
	z-index: 30;
}

.logo  {
	position: absolute;
}

.profileLabel {
	height: 50px;
	padding: 10px;
	background-color: rgba(204, 200, 200, 0.78);
	border-bottom: 1px solid gray;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.title {
	font-family: Lobster;
	color: red;
	text-align: center;
}

.btnEdit {
	max-width: 400px;
	width: 100%;
	margin-top: 5px;
}

.vehicleDescription {
    border-radius: 10px;
    padding: 20px;
    margin-top: 28px;
    height: 330px;
    /*font-size: 20px;*/
}

.inline {
    display: inline-block;
}

#btnAddVehicle {
    float: right;
}


#statusVehicle {
    color: red;
}

.label-vehicle {
    width: 100px;
    text-align: left;
    font-weight: bold;
}


.descriptionVehicle {
    width: 100%;
    height: 80px;
    border: 30px;
    border-radius: 10px;
    padding: 10px;
}

.statusVehicle {
    font-size: 60px;
    color: red;
    position: absolute;
    margin-top: 100px;
    -webkit-transform: rotate(-45deg);
    z-index: 1;
    border-style: solid;
    border-width: 5px;
    padding: 10px;
    border-radius: 10px;
}

.titleParking {
    font-size: xx-large;
    color: steelblue;
    font-weight: bold;
    margin: 35px 20px 10px 0px;
}

.labelImgCheckOut {
    font-size: 25px;
    color: red;
}

#selectPark, #selectType {
    width: 205px;
}

.btnSetstatus {
    
    width: 80px;
}

.descriptionReport {
    width: 310px;
    height: 80px;
    border: 30px;
    border-radius: 10px;
    padding: 10px;
}

.descriptionReportAdmin {
    width: 100%;
    height: 240px;
    border: 2px solid green;
    padding: 10px;
    
}